@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #111;
    color: white;
}

.container {
    padding: 30px 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 300px;
    text-align: center;
    background: #222;
    padding: 20px 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    background: blueviolet;
}

.content {
    transition: 0.3s;
}

.card:hover .content {
    transform: scale(1.07);
}

.icon {
    padding: 5px 0;
    color: white;
}

.icon i {
    font-size: 40px;
}

.card:hover .title {
    color: white;
}

.title {
    padding: 5px 0;
    font-size: 24px;
    font-weight: 500;
    color: blueviolet;
    transition: 0.3s;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .services {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .card {
        width: 45%;
    }
}
